[Unit]
Description=Zoef Web Interface
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=zoef
ExecStart=/bin/bash -c "cd /usr/local/src/zoef/web_interface/ && source ./node_env/bin/activate && npm run shell"

[Install]
WantedBy=multi-user.target
